<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Curso fullstack modulo 5</title>
<link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

  <script type="text/javascript" src="js/jquery.min.js"></script>
   <script type="text/javascript" src="js/bootstrap.js"></script>

   <div class="container" style="background-color: skyblue;"></div>
   <div class="panel-body">
        <h3>Curso FullStack Java Trainee</h3>
        <h4>Ejemplo: SpringBoot Application</h4>
        <h6><strong>Vista:</strong>Bootstrap - JQuery - Thymleaf</h6>
        <h6><strong>Controlador:</strong>SpringBoot Servlet</h6>
        <h6><strong>Modelo:</strong>DAO/DTO - JDBCTemplate</h6>
        
   
   </div>

 
</body>
</html>